.main-wrapper {
    width: 100%;
    text-align: center;
}

img {
    width: 50%;
}

img:hover {
    cursor: pointer;
}

main {
    margin: 16px;
}

.showcase-wrapper{
    display: flex;
}

.showcase-wrapper > * {
    flex: 1;
    align-items: stretch;
}