.main-wrapper {
    width: 100%;
    text-align: center;
}

img {
    width: 50%;
    padding-bottom: 50px;
    border-bottom: 1px solid #3740ff;
}

img:hover {
    cursor: pointer;
}

main {
    margin-top: 50px;
}

.showcase-wrapper{
    display: flex;
    justify-content: center;
}