<article class="showcase showcase-card">
    <div class="showcase__cover">
        <figure class="showcase-card__figure">
            <img alt="some image for now" src={{imgrSrc}}>
            <figcaption>Prototype — Blank App</figcaption>
        </figure>
    </div>
    <div class="showcase__blurb">
        <h2>BLANK — do more with less in hand</h2>
        <div class="showcase-author__card">
            <div class="showcase-author__published">
                <time>July 2, 2021</time>
            </div>
        </div>
        <div class="showcase__desc">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</article>