/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: WorkSansMedium;
    src: url('./assets/fonts/WorkSans-Medium.ttf');
}

@font-face {
    font-family: WorkSansRegular;
    src: url('./assets/fonts/WorkSans-Regular.ttf');
}

@font-face {
    font-family: QuicksandLight;
    src: url('./assets/fonts/Quicksand-Light.ttf');
}

html {
    font-family: WorkSansRegular;
}

body {
    padding: 16px;
}
