/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: WorkSansMedium;
    src: url('./assets/fonts/WorkSans-Medium.ttf');
}

html {
    font-family: WorkSansMedium;
}

body {
    padding: 16px;
}
